// simple reset - by default browsers apply a certain margin/padding
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
// mobile first : start with lower width and go up
// desktop first : start with higher width and go down
html {  // set a root font-size to change pixel values to relative rem values for better maintainability */
        //defines what 1 rem is
    font-size: 62.5%;     // default value from browser = 16px, we want 10px as a reference, thats 62.5% - better than a fixed 10px value in case the user changes the default value or zooms in/out 

    @include respond(tab-land) { // width < 1200 ?
      font-size: 56.25%; // 1rem shall be 9px => 9/16(default) = 56.25%
    }

    @include respond(tab-port) { // width < 900 ?
      font-size: 50%; // 1rem shall be 8px => 8/16(default) = 50%
    }

    //700px

    @include respond(big-desktop) {
      font-size: 80%; // 1rem shall be 12px => 12/16(default) = 75%
    }
}

body {
    box-sizing: border-box; // change the box-model, so that the borders and the paddings are no longer added to the total width/height that we specify for a box 
    padding: 3rem;

    @include respond(tab-port) { 
      padding: 0;
    }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}